@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,400,500');
html {
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #150a1c;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}


.content {
  margin: auto;
  width: 80%;
  background-color: #150a1c;
  height: auto;          /* WebKit-based browsers will ignore this. */
  height: auto;  /* Mozilla-based browsers will ignore this. */
  height: auto;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 25%;
  min-width: 250px;
  height: auto;
}

.blog-post {
 display: flex;
 flex-direction: column;
}


.aligner-item {
  max-width: 100%;
}

.aligner-item-top {
  align-self: flex-start;
}

.aligner-item-bottom {
  align-self: flex-end;
}

#home-title {
  color:#FF00EA;
  background: linear-gradient(135deg, #FF00EA, #8F018F, #07E2FF, #5900FF);
  background: -o-linear-gradient(135deg, #FF00EA, #8F018F, #07E2FF, #5900FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  text-align: center;  
  margin: auto;
}
#home-sub-title {
  font-family: 'Lato', sans-serif;  
  color: #FF00EA;
  font-size: 3em;
}

@media (max-width:320px)  { 
  #home-title { 
    font-size: 2em; 
} p {
  font-size: 2em; 
}
 }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #nav-links {
  text-align: center;
  font-size: 3em;
  width: 100%;
  background: rgb(21, 10, 28);
  padding: 10px 5px 0px 0px;
  margin: 10px 0px;
  }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* fix for now */

p.img {
  display:block;
  margin: auto;
}