

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #150a1c;
}

.blog-images-md{
  margin: auto;
  width: 50%;
  display: block;
}

/* markdown images */
@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  img.blog-images-md {
    width: 100%;
  }
}


   
